/* Stylesheet for KCD Website */

html {
    height: 100%;
    line-height: 1.8;
}

.padding-0 {
    padding: 0px 0px 0px 0px;
}

.margin-0 {
    margin: 0px 0px 0px 0px;
}

.w3-dropdown-hover {
    line-height: 1.3;
}


/* Adjust the spacing of list items to improve list displays */

li {
    line-height: 1.6;
    margin: 0em 0em 0em -1em;
}

li:first-child {
    line-height: 1.6;
    margin: -1em 0em 0em -1em;
}

li:last-child {
    line-height: 1.6;
    margin: 0em 0em -0.5em -1em;
}


/* These span formats are to compensate for fixed Navbar at top of page
   ensures that a link that would have been displayed behind the fixed Navbar
   will now be displayed below the Navbar */

h3 {
    position: relative;
}

h3 span {
    position: absolute;
    top: -120px;
}

p {
    position: relative;
}

p span {
    position: absolute;
    top: -120px;
}


/* To compensate for accidentally scrolling the page body wile looking at modal content
   links are used to return user to the modal icon when modal content is closed.
   I could not get the text-decoration in modal content to display properly
   other than to make decoration:none the default */

a {
    text-decoration: none;
}
