/* Stylesheet for KCD Website */

html {
    height: 100%;
    line-height: 1.8;
}

.padding-0 {
    padding: 0px 0px 0px 0px;
}

.margin-0 {
    margin: 0px 0px 0px 0px;
}

.w3-dropdown-hover {
    line-height: 1.3;
}


/* Adjust the spacing of list items to improve the formatting of list displays */

li {
    line-height: 1.6;
    margin: 0em 0em 0em -1em;
}

li:first-child {
    line-height: 1.6;
    margin: -1em 0em 0em -1em;
}

li:last-child {
    line-height: 1.6;
    margin: 0em 0em -0.5em -1em;
}


/* These span formats are to compensate for fixed Navbar at top of page
   ensures that a link that would have been displayed behind the fixed Navbar
   will now be displayed below the Navbar */

h3 {
    position: relative;
}

h3 span {
    position: absolute;
    top: -110px;
}

p {
    position: relative;
}

p span {
    position: absolute;
    top: -110px;
}


/* Links are used extensively to open secondary html pages.
   I could not get the text-decoration to display none in these links
   other than to make decoration:none the default */

a {
    text-decoration: none;
}


/* CUSTOM COLOUR SCHEMES */

.w3-theme-dark {
    color: #fff !important;
    background-color: #001f7d !important
}

.w3-theme-action {
    color: #fff !important;
    background-color: #001f7d !important
}

.w3-theme {
    color: #ffffff !important;
    background-color: #003ef8 !important
}

.w3-theme-modal {
    color: #f9f9f9 !important;
    background-color: #000000 !important
}

.w3-text-theme {
    color: #003ef8 !important
}

.w3-border-theme {
    border-color: #003ef8 !important
}

.w3-hover-theme-dark:hover {
    color: #fff !important;
    background-color: #003ef8 !important
}

.w3-hover-theme-light:hover {
    color: #003ef8 !important;
    background-color: #fff !important
}

.kcd-hover-theme-light:hover {
    color: #fff !important;
    background-color: #fff !important
}

.kcd-hover-theme-black:hover {
    color: #000 !important;
    background-color: #000 !important
}

.kcd-hover-theme-lbb:hover {
    color: #003ef8 !important;
    background-color: #bdd2e5 !important
}

.w3-hover-text-theme {
    color: #003ef8 !important
}

.w3-hover-border-theme:hover {
    border-color: #003ef8 !important
}

.kcd-theme-bw {
    color: #003ef8 !important;
    background-color: #fff !important
}

.kcd-theme-blb {
    color: #003ef8 !important;
    background-color: #bdd2e5 !important
}

.kcd-text-theme-lb {
    color: #bdd2e5 !important
}

.w3-dropdown-hover:first-child {
    color: #003ef8 !important;
    background-color: #fff !important
}

.w3-dropdown-hover:hover>.w3-button:first-child,
.w3-dropdown-click:hover>.w3-button:first-child {
    background-color: #fff;
    color: #003ef8
}
