@media (min-width: 480px) {
	.xs\:iframescale-xs:where(.astro-4Y4XMH2W) {
		--tw-scale-x: 0.6;
		--tw-scale-y: 0.6;
		transform: var(--tw-transform);
	}
	.xs\:-iframemt-xs:where(.astro-4Y4XMH2W) {
		margin-top: -7rem;
	}
}
@media (min-width: 768px) {
	.sm\:iframescale-sm:where(.astro-4Y4XMH2W) {
		--tw-scale-x: 0.92;
		--tw-scale-y: 0.92;
		transform: var(--tw-transform);
	}
	.sm\:-iframemt-sm:where(.astro-4Y4XMH2W) {
		margin-top: -12rem;
	}
}
@media (min-width: 976px) {
	.md\:iframescale-md:where(.astro-4Y4XMH2W) {
		--tw-scale-x: 1.1;
		--tw-scale-y: 1.1;
		transform: var(--tw-transform);
	}
	.md\:-iframemt-md:where(.astro-4Y4XMH2W) {
		margin-top: -14rem;
	}
}
