<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KidzCanDurban-Picky Eaters</title>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Elsje Stuiver - Occupational Therapy website"
    />
    <meta
      name="keywords"
      content="Occupational Therapy, Children, Paediatric, Autism, Development Delay, ADD AD(H)D, Responsive, Pinetown, Durban, South Africa"
    />
    <meta name="author" content="paul@kidzcandurban.com" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="360" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../favicon-192x192.png" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../apple-touch-icon.png"
    />
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#de2013" />
    <link href="../css/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="views-container">
      <div class="views-head gray-on-blue">
        <div class="flex items-center">
          <a href="javascript:history.go(-1)">
            <div>
              <svg viewBox="0 0 48 48" class="views-head-icon">
                <title>Back arrow icon</title>
                <path d="M13,24 23,13 23,20 34,20 34,28 23,28 23,35Z"></path>
              </svg></div
          ></a>
          <span class="views-head-back">back</span>
        </div>
        <div class="views-head-text">Picky Eaters</div>
        <div class="views-head-dummy">&nbsp;</div>
      </div>
      <div class="views-content blue-on-white">
        <p>
          It is important to note that fluctuating appetites, shifts in food
          preferences and changes in eating patterns are considered part of
          "normal" childhood development.
        </p>
        <p>
          However, being confronted with a child who is a picky eater can still
          be quite challenging and stressful.
        </p>
        <p>
          Eating stimulates our senses of taste, smell, touch and sight. Food
          aversion or "picky eating" is often the result of children
          experiencing difficulty with the processing of these simultaneous
          sensory inputs.
        </p>
        <p>
          At Elsje Stuiver - Occupational Therapy, we offer Sensory Integration
          Assessments that will assist with the understanding of a child’s sensory needs.
        </p>
        <p>
          We provide Sensory Integration Therapy, to improve a child's tolerance
          and processing of sensory information.
        </p>
        <p>
          If our assessment indicates that the mechanics of eating are the
          reason why a child struggles with food, we will adapt our therapy to work closely with Speech and Language Pathologist. Should nutritional support be required, we can refer to Dieticians and other Health Care Professionals.
        </p>
        <p>In addition, we also offer guidance and training to parents on:</p>
        <ul class="views-list-item mb-2">
          <li>Adapting the environment and timing of your child's meals.</li>
          <li>Presenting alternative food and food preparation options.</li>
          <li>
            Developing your child’s willingness to explore, try and engage with
            new foods.
          </li>
          <li>Developing your child's independence during meal times</li>
        </ul>

        <p class="text-center">- - - END - - -</p>
      </div>
    </div>
  </body>
</html>
